# Composer & Dependencies
/vendor/
composer.phar
auth.json

# Environment & Local configuration
.env
.env.*
!.env.example
*.local

# Testing & Code Quality
.phpunit.cache/
.phpunit.result.cache
.phpstan.cache/
phpstan.cache/
.php-cs-fixer.cache
coverage/
*.coverage
*.infection.html
infection.log

# IDEs & Text Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
.phpactor.json

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Logs & Temporary files
*.log
*.tmp
